*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;color: white;
    padding: 15px;

}
li,ul,h1{
    display: inline;
}
ul{
    margin-left: 60%; 
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color:white;
}
.box{
    padding: 50px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
    
}
.one{
    color: black;
    
    
}
.para{
    text-align: center;
}

.box:hover{
    background-color: grey;
    
}
.images{
    text-align: center;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
.Insta{
    color: white;
    font-size: medium;
}
.para:hover{
    color: yellow;
}
.home{
    color: white;
    text-align: center;
    font-size: larger;
}
.home:hover{
    color: yellow;
}